*,*::before,*::after{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.new-item-form{
width: 80%;
height: 5rem;
padding: 1rem;
border: 0.8rem cyan;
}
.form-row{
    display: flex;
    flex-direction: column;
    
    
}